<!-- <script type="text/javascript" src="js/geoWaspmote.js"></script> -->
<script type="text/javascript">
"use strict";

$(document).ready(()=>
{

  initMap();

  $("th > button[name='mediciones']").click(function(event)
  {
    event.preventDefault();
    console.log("Viendo medidas:"+this.id);
    $("#medidas_waspmote").show();
    $.get('/get_mediciones', {id:this.id}, (data)=>
    {
      console.log("Datos:"+JSON.stringify(data));
      data = data.medidas;
      $("#response_geo_mediciones").html('<p>Se han registrado '+data.length+' mediciones');

      if(data != null)
      {
          var info = `
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Temperatura</th>
                    <th>Humedad</th>
                    <th>Presion</th>
                    <th>ContaminantesAire</th>
                    <th>COLevel</th>
                    <th>CO2Level</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody>
              `;
          for(var i=0;i<data.length;i++)
          {
            info += `<tr>
                      <th>${data[i].Temperatura}</th>
                      <th>${data[i].Humedad}</th>
                      <th>${data[i].Presion}</th>
                      <th>${data[i].ContaminantesAire}</th>
                      <th>${data[i].COLevel}</th>
                      <th>${data[i].CO2Level}</th>
                      <th>${data[i].Fecha}</th>
                    </tr>`;
          }
          info += `</tbody></table>`;
          $("#content_mediciones").html(info);
        }
    });
  });
  
  $("th > button[name='cambiar']").click(function(event)
  {
    event.preventDefault();
    console.log("EAAAAAAAAAAAAAAAA Id: "+this.id);

    $("#actualizar_waspmote").show();
    $("#form_actualizar_waspmote").submit((event)=>
    {
        event.preventDefault();
        var datos = new Object({
          id: this.id,
          fecha: $('input:text[name=actualizar_fecha]').val(),
          estado: $('input[name=optradio]:checked').val(),
          comentarios: $('textarea[name=actualizar_comentarios]').val()
        });
        console.log("Datos cogidos del form:"+JSON.stringify(datos));
        $.get('/actualizar_waspmote',{data: datos},(confirmacion)=>
        {
            $("#response_actualizacion").html('<p>'+confirmacion+'</p>');
            document.location.href = "/administracion";
            // location.reload();
        });
    });
  });
});



</script>

<% if(admin){ %>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse bg-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administracion">Administraci贸n</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#controlWaspmotes">Control Waspmote<span class="sr-only">(current)</span></a></li>
            <li><a href="#logsWaspmotes">Logs</a></li>
            <li><a href="#usuariosOrganizacion">Usuarios</a></li>
            <li><a href="#geoWaspmotes">Geolocalizaci贸n</a></li>
            <li><a href="#registerWaspmotes">Nueva Waspmote</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
  <div id="controlWaspmotes" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b>Control Waspmotes</b></div>
    <div class="panel-body">
      <p>Panel de administraci贸n de los dispositivos disponibles</p>
    </div>
    <% if(waspmotes){ %>
      <!-- Table -->
      <table class="table table-striped">
      <thead>
        <tr>
          <th>MAC</th>
          <th>Estado</th>
          <th>Bateria</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Fecha de Alta</th>
          <th>Comentarios</th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0;i<waspmotes.length;i++){ %>
            <tr>
              <th><%= waspmotes[i].MAC %></th>
              <% if(waspmotes[i].Estado){%>
                <th>Activo</th>
              <% }else{ %>
                <th>No activo</th>
              <% } %>
              <th><%= waspmotes[i].LevelBattery %></th>
              <th><%= waspmotes[i].Latitud %></th>
              <th><%= waspmotes[i].Longitud %></th>
              <th><%= waspmotes[i].FechaAlta %></th>
              <th><%= waspmotes[i].Comentarios %></th>
              <th><button type="submit" id="<%= waspmotes[i]._id %>" class="btn btn-success" name="mediciones">Mediciones</button></th>
              <th><button type="submit" id="<%= waspmotes[i]._id %>" class="btn btn-default" name="cambiar">Cambiar</button></th>
              <th><a href="/borrar/<%= waspmotes[i]._id %>" class="btn btn-danger">Eliminar</a></th>
            <tr>
            <% }; %>
      </tbody>
    </table>
  <% }else{ %>
    No hay Waspmotes disponibles en el sistema
  <% } %>

  </div>

  <div id="medidas_waspmote" style='display:none;margin-top:100px;' class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b>Medidas capturadas</b></div>
    <div class="panel-body">
      <div id="response_geo_mediciones"></div>
      <div id="content_mediciones" style="overflow:scroll;height:300px;"></div>
    </div>
  </div>
  <div id="actualizar_waspmote" style="display:none;margin-top:100px;" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b>Actualizar Waspmote</b></div>
    <div class="panel-body">
      <!--Formulario para introducir Waspmotes -->
      <form id="form_actualizar_waspmote" style="margin-top:30px;" class="form-horizontal" role="form">
        <div class="col-lg-6">
          <!--<div class="form-group">-->
          <!--  <label for="actualizar_fecha" class="col-lg-2 control-label">Fecha de Alta</label>-->
          <!--  <div class="col-lg-9">-->
          <!--    <div class='input-group date'>-->
          <!--      <input type="text" class="form-control" name="actualizar_fecha" id="actualizar_fecha"-->
          <!--             placeholder="Ej: 03.07.2017">-->
          <!--      <span class="input-group-addon">-->
          <!--          <span class="glyphicon glyphicon-calendar"></span>-->
          <!--      </span>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div>-->
          <div class="form-group">
            <label for="actualizar_estado" class="col-lg-2 control-label">Estado del dispositivo</label>
            <div class="col-lg-10">
              <div class="col-lg-5">
                <div class="radio">
                  <label><input type="radio" name="optradio" value="true">Activo</label>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="radio">
                  <label><input type="radio" name="optradio" value="false">No activo</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
           <!-- <label for="comment"></label> -->
           <textarea class="form-control" rows="7" name="actualizar_comentarios" id="actualizar_comentarios" placeholder="Comentarios" ></textarea>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="col-lg-6">
            <div id="response_actualizacion" style="text-align: center"></div>
          </div>
          <div class="col-lg-6">
            <button type="submit" class="btn btn-success pull-right">Actualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="logsWaspmotes" style="margin-top:100px;" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b>Logs</b></div>
    <div class="panel-body">
      <p>Actualizaciones, errores y mensajes</p>
    </div>
  </div>

  <div id="usuariosOrganizacion" style="margin-top:100px;" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b>Usuarios</b></div>
    <div class="panel-body">
      <p>Usuarios de la plataforma</p>
    </div>
    <% if(usuarios){ %>
      <!-- Table -->
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Usuario</th>
          <th>Password</th>
          <th>Admin</th>
          <th>Creado</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0;i<usuarios.length;i++){ %>
            <tr>
              <th><%= usuarios[i].Nombre %></th>
              <th><%= usuarios[i].Apellidos %></th>
              <th><%= usuarios[i].Usuario %></th>
              <th><%= usuarios[i].Password %></th>
              <th><%= usuarios[i].Admin %></th>
              <th><%= usuarios[i].Creado %></th>
              <% if(usuarios[i].Admin != true){ %>
                <th><a href="/borrarUser/<%= usuarios[i]._id %>" class="btn btn-danger">Eliminar</a></th>
              <% } %>
            <tr>
            <% }; %>
      </tbody>
    </table>
  <% }else{ %>
    No hay usuarios registrados en la plataforma
  <% } %>
  </div>

  <div id="geoWaspmotes" style="margin-top:100px;" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b>Geolocalizaci贸n de las Waspmotes</b></div>
    <div class="panel-body">
      <div id="response_geoWaspmotes"></div>
      <div id="map"></div>
    </div>
  </div>

  <div id="registerWaspmotes" style="margin-top:100px;" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b>Registro</b></div>
    <div class="panel-body">
      <p>Insertando nuevo dispositivo en la base de datos</p>
    <!--Formulario para introducir Waspmotes -->
      <form action="/insertar_waspmote" method="POST" style="margin-top:30px;" class="form-horizontal" role="form">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="waspmote_mac" class="col-lg-2 control-label">MAC</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="waspmote_mac" id="waspmote_mac"
                     placeholder=" " required="required" pattern="([A-Za-z]|[0-9])+">
            </div>
          </div>

          <div class="form-group">
            <label for="waspmote_latitud" class="col-lg-2 control-label">Latitud</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="waspmote_latitud" id="waspmote_latitud"
                     placeholder=" " pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}">
            </div>
          </div>

          <div class="form-group">
            <label for="waspmote_longitud" class="col-lg-2 control-label">Longitud</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="waspmote_longitud" id="waspmote_longitud"
                     placeholder=" " pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}">
            </div>
          </div>

          <div class="form-group">
            <label for="waspmote_bateria" class="col-lg-2 control-label">Bateria</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="waspmote_bateria" id="waspmote_bateria"
                     placeholder=" " pattern="^0*(?:[1-9][0-9]?|100)">
            </div>
          </div>

          <div class="form-group">
            <label for="waspmote_estado" class="col-lg-2 control-label">Estado del dispositivo</label>
            <div class="col-lg-10">
              <div class="col-lg-5">
                <div class="radio">
                  <label><input type="radio" name="optradio" value="true" checked>Activo</label>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="radio">
                  <label><input type="radio" name="optradio" value="false">No activo</label>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-6">
          <div class="form-group">
           <!-- <label for="comment"></label> -->
           <textarea class="form-control" rows="7" name="waspmote_comentarios" id="waspmote_comentarios" placeholder="Comentarios" ></textarea>
          </div>
          <!-- <div class="form-group">
            <label for="waspmote_fecha" class="col-lg-2 control-label">Fecha</label>
            <div class="col-lg-10">
              <div class='input-group date'>
                <input type="text" class="form-control" name="waspmote_fecha" id="waspmote_fecha"
                       placeholder="Ej: 03.07.2017">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div> -->
        </div>

        <div class="col-lg-12">
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <span id="response_insertar_waspmote"></span>
              <button type="submit" id="form_insertar_waspmote" class="btn btn-primary pull-right">Insertar</a>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
<% }else{ %>
<a href="/logout" class="btn btn-primary">Logout</a>
<% } %>
