<script type="text/javascript" src="js/geoWaspmote.js"></script>
<script type="text/javascript">
"use stric";

$(document).ready(()=>
{

  initMap();

  // $("#cargar").click(()=>
  // {
  //   $.ajax({
  //       url: '/geo_waspmotes',
  //       data: {},
  //       type: 'GET',
  //       jsonpCallback: 'callback', // this is not relevant to the POST anymore
  //       success: function (data) {
  //
  //         var datos = data.waspmotes;
  //
  //         for(var i=0;i<datos.length;i++)
  //         {
  //           var myLatlng = new google.maps.LatLng(datos[i].Latitud,datos[i].Longitud);
  //           var mapOptions = {
  //             zoom: 4,
  //             center: myLatlng
  //           }
  //           var marker = new google.maps.Marker({
  //               position: myLatlng,
  //               title:"Hello World!"
  //           });
  //           // To add the marker to the map, call setMap();
  //           marker.setMap(map);
  //         }
  //
  //       },
  //       error: function (xhr, status, error) {
  //             throw err;
  //       },
  //   });
  // });
  $("th > a").click(function()
  {
    console.log("eaaaa");
    console.log("Id: "+this.id);

    $("#actualizar_waspmote").show();
  });
});

</script>

<% if(user){ %>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Control Waspmotes</div>
    <div class="panel-body">
      <p>Panel de administración de los dispositivos disponibles</p>
    </div>
    <% if(waspmotes){ %>
      <!-- Table -->
      <table class="table table-striped">
      <thead>
        <tr>
          <th>MAC</th>
          <th>Estado</th>
          <th>Bateria</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Fecha Alta</th>
          <th>Comentarios</th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0;i<waspmotes.length;i++){ %>
            <tr>
              <th><%= waspmotes[i].MAC %></th>
              <% if(waspmotes[i].Estado){%>
                <th>Activo</th>
              <% }else{ %>
                <th>No activo</th>
              <% } %>
              <th><%= waspmotes[i].LevelBattery %></th>
              <th><%= waspmotes[i].Latitud %></th>
              <th><%= waspmotes[i].Longitud %></th>
              <th><%= waspmotes[i].FechaAlta %></th>
              <th><%= waspmotes[i].Comentarios %></th>
              <th><a href="#" id="<%= waspmotes[i]._id %>" class="btn btn-default">Cambiar</a></th>
              <th><a href="/borrar/<%= waspmotes[i]._id %>" class="btn btn-danger">Eliminar</a></th>
            <tr>
            <% }; %>
      </tbody>
    </table>
  <% }else{ %>
    No hay Waspmotes disponibles en el sistema
  <% } %>

  </div>



  <div style="margin-top:100px;" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Logs</div>
    <div class="panel-body">
      <p>Actualizaciones, errores y mensajes</p>
    </div>
  </div>

  <div style="margin-top:100px;" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Geolocalización de las Waspmotes</div>
    <div class="panel-body">
      <a href="/geo_waspmotes" class="btn btn-default pull-right">Cargar</a>
      <div id="map"></div>
    </div>
  </div>

  <div style="margin-top:100px;" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Registro</div>
    <div class="panel-body">
      <p>Insertando nuevo dispositivo en la base de datos</p>

    <!--Formulario para introducir Waspmotes -->
    <form action="/insertar_waspmote" method="POST" style="margin-top:30px;" class="form-horizontal" role="form">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="waspmote_mac" class="col-lg-2 control-label">MAC</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="waspmote_mac" id="waspmote_mac"
                   placeholder=" ">
          </div>
        </div>

        <div class="form-group">
          <label for="waspmote_latitud" class="col-lg-2 control-label">Latitud</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="waspmote_latitud" id="waspmote_latitud"
                   placeholder=" ">
          </div>
        </div>

        <div class="form-group">
          <label for="waspmote_longitud" class="col-lg-2 control-label">Longitud</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="waspmote_longitud" id="waspmote_longitud"
                   placeholder=" ">
          </div>
        </div>

        <div class="form-group">
          <label for="waspmote_bateria" class="col-lg-2 control-label">Bateria</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="waspmote_bateria" id="waspmote_bateria"
                   placeholder=" ">
          </div>
        </div>

        <div class="form-group">
          <label for="waspmote_estado" class="col-lg-2 control-label">Estado del dispositivo</label>
          <div class="col-lg-10">
            <div class="col-lg-5">
              <div class="radio">
                <label><input type="radio" name="optradio" value="true">Activo</label>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="radio">
                <label><input type="radio" name="optradio" value="false">No activo</label>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="form-group">
         <!-- <label for="comment"></label> -->
         <textarea class="form-control" rows="7" name="waspmote_comentarios" id="waspmote_comentarios" placeholder="Comentarios" ></textarea>
        </div>
        <div class="form-group">
          <label for="waspmote_fecha" class="col-lg-2 control-label">Fecha</label>
          <div class="col-lg-10">
            <div class='input-group date'>
              <input type="text" class="form-control" name="waspmote_fecha" id="waspmote_fecha"
                     placeholder="Ej: 03.07.2017">
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary pull-right">Insertar</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<% } %>
